.sidebar {
    background-color: #f8f9fa;
    min-height: 100vh;
}
  
.activeOption {
    background: #072c90;
    color: #ffffff !important;
}

.fixed_column {
    position: sticky;
    top: 0;
    height: 90vh;
    overflow-y: auto;
}

.panel_message {
    text-align: center;
}