* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

html,
body {
  height: 100%;
}

main {
  flex: 1;
  background-color: #f2f2f2;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
